<div class="bg-gray p-5 mb-5 d-block">
     
  {% if section.blocks.size > 0 %}            
  {% for block in section.blocks %}            
  {% if block.type == "Categories" %}
  
  <div class="d-block">
    <a href="{{shop.url}}/blogs/{{ block.settings.b_link }}">           
    <h3 class="heading-3">{{ block.settings.heading}}</h3>      
  </a>  
  
  </div>
    {% assign a = blogs[block.settings.b_link] %}
  
   
  {% assign my_array = "" | split: ',' %}	
   
  {% comment %}
  
  {{ a.articles_count }}
  
  {% endcomment %}
  	{%- for article in a.articles -%}
  
        {% assign my_array = my_array | concat: article.tags %}
       
  	 {%- endfor -%}
  
  {% assign all_tags = my_array | uniq   %}
 
  <ul>
  	{%- for tags in all_tags -%}
       
    <li>
    <a href="{{shop.url}}/blogs/{{ block.settings.b_link | downcase }}/tagged/{{ tags | handle }}">
      {{tags }}
      </a>
    </li>
 
       
  	 {%- endfor -%}
  
  </ul>

  
   {% endif %}
  
  {% if block.type == "SubCategories" %}
  <ul>
    <li><a href="{{ block.settings.b_C_link}}">{{ block.settings.sub_heading}}</a></li>       
  </ul>  
   
   {% endif %}
  
  
   {% endfor %}
   {% endif %}
    
  <ul>  
             
  </ul>
   
</div>


<div class="mt-5" id="blog-featured">

  <h3 class="heading-3 text-center mb-4">Featured Articles</h3>

  {% assign hand =  section.settings.bb | replace: "/blogs/", "" %}
  
  {% assign featured_article = articles[ hand ] %}
  
  <div class="featured-blog-image">     
    <img class="mb-4 img-fluid"  src="{{ featured_article.image | img_url: '' }}" alt="{{ featured_article.title }}" width="100%">         
  </div>

  <h3 class="heading-4 mb-4">{{ featured_article.title | link_to: featured_article.url }}</h3>
   {%- if featured_article.excerpt.size > 0 -%}
          {{ featured_article.excerpt | strip_html | truncate: 150 }}
        {%- else -%}
          {{ featured_article.content | strip_html | truncate: 150 }}
        {%- endif -%}




  {% comment %}}
{%- assign blog = blogs[section.settings.blog] -%}

{%- if blog.articles_count > 0 -%}
  <div>

    {%- for article in blog.articles limit: 1 -%}
      <div>
              
        <a href="{{ article.url }}">
          {%- if article.image -%}
            <div class="featured-blog-image">
           <img class="mb-4 img-fluid"  src="{{ article.image | img_url: ''}}" width="100%"> 
            </div>
          {%- endif -%}
          {%- if article.tags.size > 0 -%}
          <div aria-label="{{ 'blogs.article.tags' }}">
          {%- for tag in article.tags -%}
            <div>
               <h5 class=" mb-4"><a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a></h5> 
              
            </div>           
            
          {%- endfor -%}
          </div>
          
        {%- endif -%}               
        
         <h3 class="heading-4 mb-4">{{ article.title }}</h3>

           </a>
        
           {%- if article.excerpt.size > 0 -%}
          {{ article.excerpt | strip_html | truncate: 150 }}
        {%- else -%}
          {{ article.content | strip_html | truncate: 150 }}
        {%- endif -%}
          
       

        {%- if section.settings.blog_show_author -%}
          <span>
            By {{ article.author }}
          </span>
        {%- endif -%}

        {%- if section.settings.blog_show_date -%}
          <span>
            {{ article.published_at | time_tag: format: 'month_day_year' }}
          </span>
        {%- endif -%}

       

        
{% comment %}
        <ul>
          <li>
            <a href="{{ article.url }}" aria-label="Read more: {{ article.title }}">
              Read more
            </a>
          </li>

          
          {%- if blog.comments_enabled? and article.comments_count > 0 -%}
            <li>
              <a href="{{ article.url }}#comments">
                {{ article.comments_count }} comments
              </a>
            </li>
          {%- endif -%}
         

        </ul>
         {% endcomment %}
      </div>
    {%- endfor -%}

  </div>
{%- endif -%}

  

{%- if section.settings.show_view_all -%}
  <a href="{{ blog.url }}"
    class="btn"
    aria-label="{{ 'blogs.article.view_all_blogs' }}">
    {{ 'blogs.article.view_all' }}
  </a>
{%- endif -%}

{% endcomment %}
  
  </div>

{% schema %}
{
  "name": "Blog Sidebar V2",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Featured Heading",
      "default": "Blog posts"
    },
     {
      "id": "bb",
      "type": "url",
      "label": "Select featured blog"
    }
  ],
	"blocks": [
	{
	  "type": "Categories",
      "name": "Blog Category",
      "settings": [
		{
      "type": "text",
      "id": "heading",
      "label": "Blog Category"
    	},
		{
      "type": "blog",
      "id": "b_link",
      "label": "Blog category Link"
    	}

		]

	},
	{
	  "type": "SubCategories",
      "name": "Sub Categories",
      "settings": [
		{
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Category"
    	},
		{
      "type": "url",
      "id": "b_c_link",
      "label": "Blog sub category link"
    	}

		]
	}
  ],
  "presets": [
    {
      "name": "Blog Sidebar V2"
      
    }
  ]
}
{% endschema %}

