<div class="container-fluid main-banner p-4 p-md-0 bg-gray mix_match_carousel">

    
  {% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
  {% if block.type == "slider" %}
  <div class="d-flex">

    {% if block.settings.heading.size > 0 %}
        <div class="col-lg-8">
        <img class="" src="{{ block.settings.mix_match_banner_image | image_url }}" width="100%" />
      </div>
    
    <div class="col-lg-4 p-5" style="align-self:center;">
    
     <h3 class="heading-3">{{ block.settings.heading }}</h3>
     <p>{{ block.settings.description }}</p>
     
    </div>
      {% else %}
       <div class="col-lg-12 p-0">
        <img class="d-none d-md-block" src="{{ block.settings.mix_match_banner_image | image_url }}" width="100%" />

         <img class="d-block d-md-none" src="{{ block.settings.mobile_image | image_url }}" width="100%" />
         
      </div>
      {% endif %}
    </div>

  
  {% endif %}            
  {% endfor %}  
  {% endif %}

  </div>



{% schema %}
  {
    "name": "Header Banner",
	"class": "section",
    "settings": [
	
	
    
  ],
     "blocks": [
 
	{
	  "type": "slider",
      "name": "Mix n Match Banner",
      "settings": [

	{
      "type": "image_picker",
      "id": "mix_match_banner_image",
      "label": "Mix & Match image"
    	},
        {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mix & Match Mobile image",
          "info": "Size of image 560px x 600px"
        },
        {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
	{
      "type": "text",
      "id": "description",
      "label": "Description"
    }
	
	

	]
	}	 
  ],
	"presets": [
    {
      "name": "Header Banner",
       "blocks": [
      {
          "type": "slider"
        }
       
        
      ]
    }
  ]
  }
{% endschema %}
