{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="privacy-webform">

        {%- form 'contact', id: 'ContactForm', class: 'isolate mt-5' -%}

        {%- if form.posted_successfully? -%}

        <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{
            'templates.contact.form.post_success' | t }}</div>
        {%- elsif form.errors -%}

        <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error'
                %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>

        <ul class="form-status-list caption-large" role="list">
            <li>
                <a href="#ContactForm-email" class="link">
                    {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </a>
            </li>
        </ul>

        {%- endif -%}


          <div class="subject-type ">  
          <label for="subject-type">I am a (an) *</label>
          <select id="subject-type" name="contact[subject-type]" required>
          <option selected disabled>Select</option>
          <option>Prospective Employee</option>
          <option>Student</option>
          <option>Customer</option>
          <option>Contractor</option>
          <option>Employee</option>
          <option>Patient</option>
          </select>
          </div>

          <div class="request-type ">  
          <label for="request-type">Select request type(s) *</label>
          <select id="request-type" name="contact[request-type]" required>
          <option selected disabled>Select</option>
          <option>Opt out</option>
          <option>Update Data</option>
          <option>Info Request</option>
          <option>Data Delection</option>
          <option>Object to Processing</option>
          <option>Fila a Complaint</option>
          <option>Review Automated Decision</option>
          <option>Data Portability</option>
          <option>Restrict Processing</option>
          </select>
          </div>
                  
          <div class="field">
            <input class="field__input" autocomplete="name" type="text" id="ContactForm-firstname"
                name="contact[first_name]"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                placeholder="First name" required>
            <label class="field__label" for="ContactForm-firstname">First name <span
                    aria-hidden="true">*</span></label>
          </div>

          <div class="field">
            <input class="field__input" autocomplete="name" type="text" id="ContactForm-lastname"
                name="contact[last_name]"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                placeholder="Last name" required>
            <label class="field__label" for="ContactForm-lastname">Last name<span
                    aria-hidden="true">*</span></label>
          </div>

        <div class="field field--with-error">

            <input autocomplete="email" type="email" id="ContactForm-email" class="field__input" name="contact[email]"
                spellcheck="false" autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true" {% if form.errors contains 'email' %} aria-invalid="true"
                aria-describedby="ContactForm-email-error" {% endif %}
                placeholder="{{ 'templates.contact.form.email' | t }}" required>
            <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span
                    aria-hidden="true">*</span></label>

            {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] |
                    capitalize }} {{ form.errors.messages['email'] }}</span>
            </small>
            {%- endif -%}

        </div>

 
        <div class="field">
            <input class="field__input" autocomplete="name" type="text" id="ContactForm-country"
                name="contact[country]"
                placeholder="Country" required>
            <label class="field__label" for="ContactForm-country">Country</label>
        </div>
  
    
        <div class="field">
        <textarea rows="10" id="ContactForm-body" class="text-area field__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="Request Details" required>
              {{- form.body -}}
            </textarea>
        <label class="form__label field__label" for="ContactForm-body">Request Details<span
                    aria-hidden="true">*</span></label>
        </div>

        <div class="contact__button webform">
        <button type="submit" class="button">
            {{ 'templates.contact.form.send' | t }}
        </button>
        </div>

        {%- endform -%}

    </div>









{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
	{
      "type": "text",
      "id": "text",
      "default": "amet minim mollit non deserunt ullamco est sit",
      "label": "Description"
    },

    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
