{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="bg-gray section-spacing">
        <div class="container p-4 p-md-0">

            <div class=" ">
                <div class="col-md-12  p-4 p-md-0">
                    <h2 class="heading-2">{{ section.settings.blog_heading }}</h2>
                </div>

            </div>

            <div class="d-block d-md-flex">

                <div class="col-md-9  p-4 p-md-0">
                    <p class="">{{ section.settings.blog_des }}</p>
                </div>

                <div class="col-md-3 pr-0">
                    <a class="btn-link" href="{{ section.settings.blog_link }}">See all</a>
                </div>

            </div>

            <div class="d-none d-md-flex the-tea-section mt-5">

                {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                {% if block.type == "articles" %}

                <div class="col-sm-3 the-tea-section-items mb-5 mb-md-0">
                    <h6 class="numeric heading-6">0{{ forloop.index }}</h6>

                    <a href="{{ block.settings.blog_link }}">
                        <img src="{{ block.settings.blog_image | img_url: 'master'}}" width="100%">
                        <h4 class="tea-head">{{ block.settings.blog_name }}</h4>
                        <p class="tea-text1">{{ block.settings.no_of_articles }}</p>
                        <p class="tea-text2">{{ block.settings.blog_new }}</p>

                    </a>

                </div>

                {% endif %}
                {% endfor %}
                {% endif %}
            </div>

            <div class="d-block d-md-none the-tea-section mt-5 ">
                <div class="row w-100">
                    {% if section.blocks.size > 0 %}
                    {% for block in section.blocks %}
                    {% if block.type == "articles" %}

                    <div class="col-6 the-tea-section-items mb-5 mb-md-0">
                        <h6 class="numeric heading-6">0{{ forloop.index }}</h6>

                        <a href="{{ block.settings.blog_link }}">
                            <img src="{{ block.settings.blog_image | img_url: 'master'}}" width="100%">
                            <h4 class="tea-head">{{ block.settings.blog_name }}</h4>
                            <p class="tea-text1">{{ block.settings.no_of_articles }}</p>
                            <p class="tea-text2">{{ block.settings.blog_new }}</p>

                        </a>

                    </div>

                    {% endif %}
                    {% endfor %}
                    {% endif %}

                </div>
            </div>

        </div>
    </div>

{% schema %}
{
  "name": "The Tea",
  "class": "section",
  "settings": [
	{
      "type": "text",
      "id": "blog_heading",
      "label": "Tea Name"
    },
	{
      "type": "text",
      "id": "blog_des",
      "label": "Collection Description"
    },
	{
          "type": "url",
          "id": "blog_link",
          "label": "See all collection"
   	}
    
  ],
  "blocks": [
 
	{
	  "type": "articles",
      "name": "Articles",
      "settings": [

	{
      "type": "image_picker",
      "id": "blog_image",
      "label": "Blog image"
    	},
	{
      "type": "text",
      "id": "blog_name",
      "label": "Blog name"
    },
		{
          "type": "url",
          "id": "blog_link",
          "label": "Blog link"
        },
		{
      		"type": "text",
      		"id": "no_of_articles",
      		"label": "No of Articles"
   		 },
		{
     	 "type": "text",
     	 "id": "blog_new",
     	 "label": "Blog New"
	    }

		]
		}
		
    
  ],
  "presets": [
    {
      "name": "The Tea",
      "blocks": [
      {
          "type": "articles"
        }
       
        
      ]
    }
  ]
}
{% endschema %}
